<%- include('header') %>
<div class="about">
    <ul class="no-bullets">
        <li>Made by: Winson8222  <a href="https://steamcommunity.com/id/smartestmanintheworld"><i class="fa-brands fa-steam fa-2x" style="color:black"></i></a></li>
        <li>Images from:     <a href="https://www.dota2.com/home">https://www.dota2.com/home</a></li>
        <li>Hero Reponses from:     <a href="https://dota2.fandom.com/wiki/Dota_2_Wiki">https://dota2.fandom.com/wiki/Dota_2_Wiki</a></li>
    </ul>
</div>